<div class="off-canvas-wrapper">
      <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>

        <div class="off-canvas-content" data-off-canvas-content>
          <div class="callout primary">
            <div class="row column">
              <h1>This are your wishes,  <small><%= @wish_list.user.email %></small> You will receive a message when they become availabe.</h1>
            </div>
          </div>
          <div class="row small-up-2 medium-up-3 large-up-4">
            <% @wish_list.wish_list_items.each do |item| %>
            <div class="column">
              <%#= cl_image_tag(product.item.first, :class => "thumbnail") %>
              <h5><%= item.product.title %></h5>
              <h5><%= cl_image_tag(item.product.image.first, :class => "thumbnail") %></h5>
            </div>
            <% end %>

          </div>

        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
