<h1 class="column">Fresh Picks</h4>


<div class="column">
  <ul class="products-grid no-bullet row">
    <% @products.each do |product| %>
      <li class="large-3 medium-4 small-12 column">
        <div class="column">
          <h4><%= product.title  %></h4>
          <div class="product-info ell glassy-bg padmy padlx">
            <div class="title">
              <h6><%= truncate(sanitize product.description, length:200) %></h6>
            </div>
            <p class="center price label product-label radius">$ <%= product.price %></p>

            <%= button_to 'I Want That', wish_list_items_path(:product_id => product) %>

          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>
