<header class="header">

  <h1 class="headline">Beduin Market  <small>BETA</small></h1>
  <ul class="header-subnav">
    <li><%=link_to "Exclusive Items", store_path%></li>
    <%if signed_in?%>
    <li><%=link_to "Your Wish List", wish_list_path(current_user.wish_list) %></li>
    <%end%>


  <%if signed_in?%>
      <li><%=link_to "Logout", destroy_user_session_path, method: :delete%></li>
    <%else%>
      <li><%=link_to "Login", new_user_session_path%></li>
  <% end %>


</header>
